@import url("https://use.typekit.net/mps2esr.css");

body{
  max-width: 1200px;
  width: 100%;
  margin: 3em auto;
  font-family: bd-supper,sans-serif;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(120deg, #001a3d, #000000, #0058c5);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 18s ease infinite;
  -moz-animation: AnimationName 18s ease infinite;
  animation: AnimationName 18s ease infinite;
}

* {
  transition: all 1s linear;
}

html {
  scroll-behavior: smooth;
}

.bd-supperBold{
  font-family: bd-supper,sans-serif;
font-weight: 700;
font-style: normal;
}

details{
  animation-delay: 2s;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  body{
    max-width: 1000px;
    padding: 2em;
  }
}

@media screen and (max-width: 768px) {
  body{
    max-width: 680px;
    padding: .5em;
  }
}

@media screen and (max-width: 480px) {
  body{
    max-width: 440px;
    padding: .5em;
  }
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}