@import url("https://use.typekit.net/mps2esr.css");

* {
  transition: all 1s linear;
}

html {
  scroll-behavior: smooth;
}

body{
  font-family: bd-supper,sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 20px;
  background-color: cornflowerblue;
}

.bd-supperBold{
  font-family: bd-supper,sans-serif;
font-weight: 700;
font-style: normal;
}


details{
  animation-delay: 2s;
  cursor: pointer;
}